#button_add{
    background-color: var(--rosachoque);
    color: var(--rosa)
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vw;
}

.money{
    display:flex;
    flex-direction: column;
    gap: 2vw;
}

.pay{
    border-radius: 10px;
    background-color: var(--rosinha);
    border:none;
    color: var(--black);
    height:35px;
    padding-left: 10px;
}

.pagamento{
    display: flex;
    flex-direction: column;
    width:70%;
    gap:0.9vw;
}
