.principal{
    color: var(--rosa);
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.titulo{
    font-family: RUSSOONE;
    font-size:1.8em;
}

.albuns{
    padding-top:50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
}

.album_individual h3{
    font-family: LATO-BOLD;
}

.album_individual h4{
    font-family: LATO-LIGHT;
}

.albIMG{
    width:100%;
    height:auto;
    border-radius: 5px;
    padding-bottom: 7px;
}